.mainBody {
  align-content: center;
  text-align: center;
  display: flex;
}

.navBarImage {
  max-height: 65px;
}

.imageSlider{
  max-height: 400px;
  width: 100%;
}

.header{
  font-size: 54px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.5em;
  padding-top: 20px;
}

.leftContent{
  flex: 2 1 auto;
}

.rightContent{
  flex: 2 1 auto;
}

.sideHeader{
  font-size: 16px;
  color: #7a7d7f;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: .33em;
  margin-bottom: .33em;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
